body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background-image: url('../img/anime-classroom-with-sunlight-31gmpkkcbtnxjeh4.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(10px); 
}


nav {
    z-index: 1;
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

nav li {
    display: inline;
}

nav li a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

h1 {
    text-align: left;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 20px;
}

video {
    display: block;
    margin-left: 20px;
}

iframe {
    display: block;
    margin-left: 20px;
}