.video-container {
    max-width: 100%;
    height: auto;
}

.small-video {
    width: 200px;
    height: auto;
}


.rotate-negative-90 {
    transform-origin: top right;
    transform: rotate(-90deg);

}

.video-wrapper {
    margin-left: -198px;
}
