body {
    margin: 0; /* Loại bỏ margin mặc định */
    padding: 0; /* Loại bỏ padding mặc định */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)); /* Gradient màu đen */
    color: white; /* Màu chữ trắng */
    font-family: 'Lato', sans-serif; 
}

#title {
    text-align: center; /* Canh giữa nội dung theo chiều ngang */
    display: flex; /* Sử dụng flexbox để căn giữa theo cả hai chiều */
    justify-content: center; /* Canh giữa theo chiều ngang */
}

.video-container {
    max-width: 100%;
    height: auto;
}

.small-video {
    width: 200px;
    height: auto;
}