body {
  margin: 0;
  background: #0f0f0f;
  color: #e5e5e5;
  font-family: Consolas, monospace;
}

#layout {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 230px;
  background: #141414;
  padding: 20px;
  border-right: 1px solid #222;
}

#sidebar h1 {
  margin-bottom: 20px;
  font-size: 22px;
}

#sidebar button {
  width: 100%;
  background: #1f1f1f;
  color: #e5e5e5;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.25s;
}

#sidebar button:hover {
  background: #292929;
}

#content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.snippet {
  background: #161616;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #222;
}

.snippet h3 {
  margin-top: 0;
}

pre {
  background: #000;
  padding: 12px;
  border-radius: 6px;
  overflow-x: auto;
}
